.bg-cyan {
    background-color: #00838d
}

.custom-link {
    color: orangered;
    transition: 0.5s;
}

.custom-link:hover {
    color: orange;
    transform: scale(1.1);
    transition: 0.5s;
}

.custom-link:hover span {
    color: orange;
}

#change-form {
    text-decoration: none;
    color: rgb(38, 147, 214);
}

#change-form:hover {
    cursor: pointer;
    color: rgb(201, 123, 5);
}

/* Meilleur affichage des liste */
.categoryList {
    min-height: 50vh;
}

.btn-danger {
    border-color: white;
    background: transparent;
}

.wave-header{
    margin-top: -6rem;
}

@media only screen and (max-width: 600px) {
    .wave-header{
        margin-top: -1rem;
    }
    .wave-footer{
        margin-bottom: -1rem;
    }
  }
.divider {
    border-top: 2px solid white;
    width: 20%;
    margin: 10px 0;
}
