#titre-categorie, #titre-top-article {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 10px;
    text-align: center;
}

#title-site{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 10px;
    text-align: center;
}



h3 {
    color: #262626;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: rgb(0 131 141 / 30%);
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card1:hover:before {
    transform: scale(21);
}

.card1:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
    transition: all 0.3s ease-out;
    color: #fff;
}

.card1 h3 {
    font-size: 25px;
}

@media (max-width:767px) {
    .card1 h3 {
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 600px) {
    #title-site{
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 10px;
        text-align: center;
    }
    
  }

.separator {
    border-top: 2px solid #00838d;
    width: 20%;
    margin: 50px 0;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #00838d;
}