#card-verify {
    height: 30rem;
    background-color: #00838d;
}

#title {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 7px;
}

.separator {
    border-top: 2px solid white;
    width: 20%;
    margin: 20px 0;
}

.input-size {
    margin: 1rem 1rem 1rem 1rem;
    width: 40px;
}

.l-sp-5 {
    letter-spacing: 5px;
}